<p>愛犬を連れて利用できるカフェをもっと知りたい。あのお店少し遠いけど、わざわざ行く価値があるのかな、、、。<br />
愛犬が思いっきり走ることができるドッグランを知りたい、、。<br />
あのお店、美味しいらしいけど、ワンちゃんは床なんだって、、。<br /></p>

<p>ペットを連れていける旅行先の情報は増えたけれど、<br />
日常使いできるスポットの情報って、まだまだ少ないですよね。<br />
飼い主目線で、レビューを共有しませんか？</p>

<%= link_to "会員登録画面へ", new_member_registration_path %>