<div class="container">
  <%= render 'layouts/errors', obj: @spot %>
	<div class="row spot-edit-row">
		<h4 class="spot-edit">Spot編集</h4>
			<%= render 'post_form', spot: @spot %>
  　</div>
</div>