<div class="container">
	<div class="row">
		<div class="spot-subject-center">
			<h3>Spot投稿</h3>
		</div>
		  <%= render 'layouts/errors', obj: @spot %>
		  <%= render 'post_form', spot: @spot %>
  　</div>
</div>