<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div class="slideshow">
			    <div class="slider">
			    	<div class="slide-image"></div>
			    	<div class="slide-image"></div>
			    	<div class="slide-image"></div>
			    	<div class="slide-image"></div>
			    	<div class="slide-image"></div>
			    </div>
			</div>
			<div class="spots-ranking">
				<h3 class="popular-spot">人気スポット</h3>
				<%= render 'spots_ranking', spots: @spots %>
				<%= link_to 'もっと見る', member_spots_path, class:"btn btn-primary" %>
			</div>
		</div>
		<div class="col-sm-3">
			<%= render 'member/shared/top_side' %>
		</div>
	</div>
</div>