<div class="row">
		<% genres.each do |genre| %>
		<div class="genre-each">
        	<span class="genre col-sm-6">
        		<%= genre.name %>
        	</span>
        	<button><%= link_to "編集", edit_admin_genre_path(genre) %></button>
        	<button><%= link_to "削除", admin_genre_path(genre), method: :delete %></button>
        </div>
		<% end %>
	<div class="col-sm-6">
	</div>
</div>