<div class="container">
  <div class="row">
    <h3>ジャンル</h3>
      <% @genres.each do |genre| %>
        <%= genre.name %>
          <%= link_to "編集する", edit_admin_genre_path(genre),class:"btn btn-primary active" %>
      <% end %>
  </div>
  <div class="row">

  </div>
</div>

<h1>Appleモデル一覧</h1>
<table class="table" id="genres">
  <%= render "genre", genres: @genres %>
</table>
<%= link_to "ジャンルを追加", admin_genres_path, remote: true %><!-- link_toにremote:trueを加えることによって自動的にajaxでの処理にする --><!-- admin_genres_pathと記述することで、genre/indexアクションが起きる -->
<div id="genre-form"><!-- ここにajaxのformを表示 --></div>