<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>ジャンル</h3>
        <%= link_to admin_genres_path, remote: true do %><!-- link_toにremote:trueを加えることによって自動的にajaxでの処理にする --><!-- admin_genres_pathと記述することで、genre/indexアクションが起きる -->
          <i class="fas fa-plus-circle">ジャンルを追加</i>
        <% end %>
        <div id="genre-form"><!-- ここにajaxのformを表示 --></div>
        <table class="table" id="genres">
          <%= render "genre", genres: @genres %>
        </table>
    </div>
    <div class="col-sm-9">
    </div>
  </div>
</div>