<div class="container admin-genre">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-5">
      <h3>ジャンル一覧</h3>
        <%= link_to admin_genres_path, remote: true do %><!-- link_toにremote:trueを加えることによって自動的にajaxでの処理にする --><!-- admin_genres_pathと記述することで、genre/indexアクションが起きる -->
          <i class="fas fa-plus-circle">ジャンルを追加</i>
        <% end %>
        <div id="genre-form"><!-- ここにajaxのformを表示 --></div>

        <!-- ジャンル一覧 -->
        <div id="genres">
          <%= render partial: 'genre', locals: { genres: @genres } %>
        </div>
    </div>
  </div>
</div>