<div class="container edit-comment-form">
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">
			<%= render partial: 'member/spots/comment_form', locals: { comment: @comment, spot_id: @spot.id } %>
		</div>
		<div class="col-sm-3">
		</div>
	</div>
</div>