// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre {
	background-color: #365C92;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	margin: 10px;
}

.button-margin {
	margin: 10px 0;
}

.admin-genre {
	margin-bottom: 50px;
}