/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.main {
	margin-top: 2px;
}
footer {
	background-color: #365C92;
	width: 100%;
	height: 200px;
}
.header-nav {
	list-style: none;
}
.logo {
	text-align: center;
}
.logo img {
	width: 110px;
	height: 100px;
	opacity: 0.85;
}
.nav-li {
	text-align: center;
	font-family: 'Hannotate TC','Meiryo UI',sans-serif;
	font-size: 12px;
	letter-spacing: 0.3em;
}
.nav-li img {
	width: 30px;
	height: 30px;
	margin-top: 12px;
	margin-bottom: 7px;
}