
	<h1>いぬ記事</h1>
		<div class="row">
			<h3>2020年　犬の名前ランキング</h3>
				<div class="col-12">
					<table class="table">
						<p>Japan</p>
						<tr>
							<th>1位</th>
							<th>ココ<span class="name-ranking">2年連続</span></th>
						</tr>
						<tr>
							<th>2位</th>
							<th>マロン<span class="name-ranking">2年連続</span></th>
						</tr>
						<tr>
							<th>3位</th>
							<th>モカ</th>
						</tr>
						<tr>
							<th>4位</th>
							<th>チョコ</th>
						</tr>
						<tr>
							<th>5位</th>
							<th>むぎ</th>
						</tr>
						<p>出典：アイペット損保HP</p>
					</table>
				</div>
		</div>
		<div class="row">
			<h3>2020年　人気犬種ランキング</h3>
				<div class="col-12">
					<table class="table">
						<tr>
							<th>1位</th>
							<th>トイ・プードル</th>
							<th>20.7%</th>
						</tr>
						<tr>
							<th>2位</th>
							<th>チワワ</th>
							<th>15.7%</th>
						</tr>
						<tr>
							<th>3位</th>
							<th>MIX犬（体重10Kg未満）</th>
							<th>12.0%</th>
						</tr>
						<tr>
							<th>4位</th>
							<th>柴犬</th>
							<th>8.5%</th>
						</tr>
						<tr>
							<th>5位</th>
							<th>ミニチュア・ダックスフンド</th>
							<th>5.7%</th>
						</tr>
						<p>（※）シェアは、各社の2018年の契約件数から算出。(株)富士経済発行「2019年ペット関連市場マーケティング総覧」調査</p>
					</table>
				</div>
		</div>
		<div class="row">
			<h3>えっ意外！</br>
			犬に与えてはいけないもの10選</h3>
				<div class="col-xs-12">
					<p>〇アボカド<br />
					</p>
				</div>
		</div>
