<div class="container">
	<h1>いぬ記事</h1>
		<div class="row">
			<h3>2020年　犬の名前ランキング</h3>
				<div class="col-md-6">
					<table class="table">
						<p>男の子</p>
						<tr>
							<th>1位</th>
							<th></th>
						</tr>
						<tr>
							<th>2位</th>
							<th></th>
						</tr>
						<tr>
							<th>3位</th>
							<th></th>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table">
						<p>女の子</p>
						<tr>
							<th>1位</th>
							<th></th>
						</tr>
						<tr>
							<th>2位</th>
							<th></th>
						</tr>
						<tr>
							<th>3位</th>
							<th></th>
						</tr>
					</table>
				</div>
				<p>出典：</p>
		</div>
		<div class="row">
			<h3>2020年　人気犬種ランキング</h3>
				<div class="col-md-12">
					<table class="table">
						<tr>
							<th>1位</th>
							<th></th>
						</tr>
						<tr>
							<th>2位</th>
							<th></th>
						</tr>
						<tr>
							<th>3位</th>
							<th></th>
						</tr>
					</table>
				</div>
		</div>
		<div class="row">
			<h3>えっ意外！</br>
			犬に与えてはいけないもの10選</h3>
				<div class="col-md-12">
					<p>〇アボカド<br />
					</p>
.				</div>
		</div>
</div>